.btn {
  padding: 8px 12px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  margin: 0 3%;
}
.btn-primary {
  background: black;
  color: white;
}
.btn:hover {
  background: white;
  color: black;
}
